USE [OnDemandTutor]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoinManagement]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoinManagement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Coin] [real] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TransactionId] [bigint] NOT NULL,
 CONSTRAINT [PK_CoinManagement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TutorId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Star] [real] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[JwtId] [nvarchar](max) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestCategoryId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestCategory]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RequestCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Response]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ResponseDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaim]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentJoin]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentJoin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SubjectLevelId] [int] NOT NULL,
 CONSTRAINT [PK_StudentJoin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectLevel]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LevelId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TutorId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Coin] [real] NOT NULL,
	[LimitMember] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SubjectLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectLevelId] [int] NOT NULL,
	[SlotName] [nvarchar](max) NOT NULL,
	[StartSlot] [datetime2](7) NOT NULL,
	[EndSlot] [datetime2](7) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Time] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AcademicLevel] [nvarchar](max) NULL,
	[WorkPlace] [nvarchar](max) NULL,
	[OnlineStatus] [nvarchar](max) NULL,
	[AverageStar] [float] NOT NULL,
	[Degree] [nvarchar](max) NULL,
	[CreditCard] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[TutorServiceName] [nvarchar](max) NULL,
	[TutorServiceDescription] [nvarchar](max) NULL,
	[TutorServiceVideo] [nvarchar](max) NULL,
	[LearningMaterialDemo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IdentityCard] [nvarchar](max) NULL,
	[Dob] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaim]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 6/25/2024 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToken](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserToken] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240609181347_Add_All_Table', N'6.0.30')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240611152046_Add_LimitColumn_TblSubjectlevel', N'6.0.30')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240613174609_Update_Time', N'6.0.30')
GO
SET IDENTITY_INSERT [dbo].[CoinManagement] ON 

INSERT [dbo].[CoinManagement] ([Id], [UserId], [Coin], [Date], [TransactionId]) VALUES (1, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', 1000, CAST(N'2024-06-10T02:01:26.8428450' AS DateTime2), 0)
INSERT [dbo].[CoinManagement] ([Id], [UserId], [Coin], [Date], [TransactionId]) VALUES (3, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', -300, CAST(N'2024-06-10T22:43:15.0782433' AS DateTime2), 0)
INSERT [dbo].[CoinManagement] ([Id], [UserId], [Coin], [Date], [TransactionId]) VALUES (4, N'886152d0-1aa7-42ba-86d1-3a0a0e423105', 300, CAST(N'2024-06-10T22:43:15.2887652' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[CoinManagement] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([Id], [Name]) VALUES (1, N'Lớp 10')
INSERT [dbo].[Level] ([Id], [Name]) VALUES (2, N'Lớp 11')
INSERT [dbo].[Level] ([Id], [Name]) VALUES (3, N'Lớp 12')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([Id], [TutorId], [UserId], [Star], [Description]) VALUES (1, 4, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', 5, N'Dạy hay vl')
INSERT [dbo].[Rating] ([Id], [TutorId], [UserId], [Star], [Description]) VALUES (2, 4, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', 3, N'dạy tạm')
INSERT [dbo].[Rating] ([Id], [TutorId], [UserId], [Star], [Description]) VALUES (3, 1, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', 4, N'tạm được')
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
INSERT [dbo].[RefreshToken] ([Id], [UserId], [JwtId], [Token], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'1201f8c7-90b7-401b-b49a-63dee0c4c8cc', N'b75dc8dc-3c0b-4ffe-8d03-f23d5df0b6e3', N'0a3a0637-181e-4c53-b87e-96587fbafc9b', N'UYql4QiOX9QY+/ODlMMzVI5SBz2bV1qBglNA81crcGs=', 0, 0, CAST(N'2024-06-11T23:50:18.9463577' AS DateTime2), CAST(N'2024-06-12T00:50:18.9464271' AS DateTime2))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [JwtId], [Token], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'2be7d04d-1c25-4985-bb0c-296e2ca98363', N'bf580a91-67f2-416f-a293-d06bd69424b5', N'695d0206-e35f-4e50-81d2-0b5111f17071', N'047Ox4nY/58MOHWEmvgO5qk8leE1IqvEfAT+FJBjEiI=', 0, 0, CAST(N'2024-06-11T00:21:47.9683602' AS DateTime2), CAST(N'2024-06-11T01:21:47.9684730' AS DateTime2))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [JwtId], [Token], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'65ed51d7-3268-4f3a-a9a9-ff8d0fc1a2ce', N'd34c6059-4700-49fd-b1fa-6227e2be5470', N'08c8d7c7-8e4f-457b-a6e5-04c5a01ec7db', N'63KX1AXKJHCh4K7E00FEuyWGjkZcFvfCEXntMeEqpBA=', 0, 0, CAST(N'2024-06-12T17:32:07.9766130' AS DateTime2), CAST(N'2024-06-12T18:32:07.9769329' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Id], [RequestCategoryId], [UserId], [Description], [CreatedDate], [Status]) VALUES (1, 2, N'b75dc8dc-3c0b-4ffe-8d03-f23d5df0b6e3', N'Yêu cầu phê duyệt dịch vụ giảng viên với TutorId: 1.', CAST(N'2024-06-10T02:22:57.0187204' AS DateTime2), N'Đã xong')
INSERT [dbo].[Request] ([Id], [RequestCategoryId], [UserId], [Description], [CreatedDate], [Status]) VALUES (2, 2, N'886152d0-1aa7-42ba-86d1-3a0a0e423105', N'Yêu cầu phê duyệt dịch vụ giảng viên với TutorId: 4.', CAST(N'2024-06-10T18:30:24.9752265' AS DateTime2), N'Đã xong')
INSERT [dbo].[Request] ([Id], [RequestCategoryId], [UserId], [Description], [CreatedDate], [Status]) VALUES (3, 1, N'd34c6059-4700-49fd-b1fa-6227e2be5470', N'Acc của t có vấn đề rồi', CAST(N'2024-06-12T17:32:53.1628704' AS DateTime2), N'Chờ xử lý')
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestCategory] ON 

INSERT [dbo].[RequestCategory] ([Id], [CategoryName]) VALUES (1, N'Account Support')
INSERT [dbo].[RequestCategory] ([Id], [CategoryName]) VALUES (2, N'Rental Service Support')
INSERT [dbo].[RequestCategory] ([Id], [CategoryName]) VALUES (3, N'Payment Support')
SET IDENTITY_INSERT [dbo].[RequestCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Response] ON 

INSERT [dbo].[Response] ([Id], [RequestId], [Description], [ResponseDate]) VALUES (1, 1, N'Thư phản hồi yêu cầu phê duyệt giảng viên', CAST(N'2024-06-10T02:25:28.9319419' AS DateTime2))
INSERT [dbo].[Response] ([Id], [RequestId], [Description], [ResponseDate]) VALUES (2, 2, N'Thư phê duyệt yêu cầu đăng kí giảng dạy', CAST(N'2024-06-10T18:32:57.3376901' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Response] OFF
GO
INSERT [dbo].[Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'21fbb4e5-6aa0-415b-b291-cef7d067d04e', N'Admin', N'ADMIN', N'1')
INSERT [dbo].[Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'aca0397a-ca5b-4ccf-b742-14db92651480', N'Moderator', N'MODERATOR', N'2')
INSERT [dbo].[Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b378a07f-e146-434e-88ce-1cd7dd087dc2', N'Student', N'STUDENT', N'4')
GO
SET IDENTITY_INSERT [dbo].[StudentJoin] ON 

INSERT [dbo].[StudentJoin] ([Id], [UserId], [SubjectLevelId]) VALUES (3, N'bf580a91-67f2-416f-a293-d06bd69424b5', 9)
INSERT [dbo].[StudentJoin] ([Id], [UserId], [SubjectLevelId]) VALUES (7, N'5f5b0490-f22b-44d7-a0ee-4331fc69cb85', 9)
INSERT [dbo].[StudentJoin] ([Id], [UserId], [SubjectLevelId]) VALUES (8, N'3ea23fe3-013b-4f30-812f-5517ec093aaf', 9)
SET IDENTITY_INSERT [dbo].[StudentJoin] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name]) VALUES (1, N'Toán')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (2, N'Lý')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (3, N'Hóa')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectLevel] ON 

INSERT [dbo].[SubjectLevel] ([Id], [LevelId], [SubjectId], [TutorId], [Description], [Url], [Coin], [LimitMember], [Name]) VALUES (9, 3, 1, 4, N'string', N'string', 300, 3, N'')
INSERT [dbo].[SubjectLevel] ([Id], [LevelId], [SubjectId], [TutorId], [Description], [Url], [Coin], [LimitMember], [Name]) VALUES (10, 2, 2, 4, N'vua lý', N'string lý', 200, 2, N'')
INSERT [dbo].[SubjectLevel] ([Id], [LevelId], [SubjectId], [TutorId], [Description], [Url], [Coin], [LimitMember], [Name]) VALUES (11, 1, 3, 4, N'hóa chất', N'string hóa', 500, 1, N'')
SET IDENTITY_INSERT [dbo].[SubjectLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[Time] ON 

INSERT [dbo].[Time] ([Id], [SubjectLevelId], [SlotName], [StartSlot], [EndSlot], [Date]) VALUES (4, 9, N'Buổi 1', CAST(N'2024-06-14T19:00:00.9360000' AS DateTime2), CAST(N'2024-06-14T21:00:00.9360000' AS DateTime2), CAST(N'2024-06-14T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Time] ([Id], [SubjectLevelId], [SlotName], [StartSlot], [EndSlot], [Date]) VALUES (5, 9, N'buổi 2', CAST(N'2024-06-14T16:00:00.0760000' AS DateTime2), CAST(N'2024-06-14T18:00:00.0760000' AS DateTime2), CAST(N'2024-06-14T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Time] ([Id], [SubjectLevelId], [SlotName], [StartSlot], [EndSlot], [Date]) VALUES (6, 9, N'buổi 2', CAST(N'2024-06-14T14:00:00.0760000' AS DateTime2), CAST(N'2024-06-14T16:00:00.0760000' AS DateTime2), CAST(N'2024-06-14T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Time] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutor] ON 

INSERT [dbo].[Tutor] ([Id], [AcademicLevel], [WorkPlace], [OnlineStatus], [AverageStar], [Degree], [CreditCard], [UserId], [Status], [TutorServiceName], [TutorServiceDescription], [TutorServiceVideo], [LearningMaterialDemo]) VALUES (1, N'University', N'FSoft', NULL, 0, N'bacherlor', N'000000', N'b75dc8dc-3c0b-4ffe-8d03-f23d5df0b6e3', N'Chấp thuận', N'vua code', N'string', N'string', N'string')
INSERT [dbo].[Tutor] ([Id], [AcademicLevel], [WorkPlace], [OnlineStatus], [AverageStar], [Degree], [CreditCard], [UserId], [Status], [TutorServiceName], [TutorServiceDescription], [TutorServiceVideo], [LearningMaterialDemo]) VALUES (3, N'string1', N'string1', NULL, 0, N'string1', N'string1', N'd34c6059-4700-49fd-b1fa-6227e2be5470', N'Chờ phê duyệt', N'string1', N'string1', N'string1', N'string1')
INSERT [dbo].[Tutor] ([Id], [AcademicLevel], [WorkPlace], [OnlineStatus], [AverageStar], [Degree], [CreditCard], [UserId], [Status], [TutorServiceName], [TutorServiceDescription], [TutorServiceVideo], [LearningMaterialDemo]) VALUES (4, N'Uni', N'FUni', NULL, 0, N'Engineer', N'111111', N'886152d0-1aa7-42ba-86d1-3a0a0e423105', N'Chấp thuận', N'code gym', N'vua code', N'code video', N'tutorial code')
SET IDENTITY_INSERT [dbo].[Tutor] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'0c401c73-f733-423a-9e49-839b4ba3241c', N'21fbb4e5-6aa0-415b-b291-cef7d067d04e')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'ec446432-53f8-4e5f-84b2-8a33162970f3', N'aca0397a-ca5b-4ccf-b742-14db92651480')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'3ea23fe3-013b-4f30-812f-5517ec093aaf', N'b378a07f-e146-434e-88ce-1cd7dd087dc2')
GO
ALTER TABLE [dbo].[CoinManagement] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [TransactionId]
GO
ALTER TABLE [dbo].[SubjectLevel] ADD  DEFAULT ((0)) FOR [LimitMember]
GO
ALTER TABLE [dbo].[SubjectLevel] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[CoinManagement]  WITH CHECK ADD  CONSTRAINT [FK_CoinManagement_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CoinManagement] CHECK CONSTRAINT [FK_CoinManagement_User]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Tutor] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Tutor]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_User]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_RequestCategory] FOREIGN KEY([RequestCategoryId])
REFERENCES [dbo].[RequestCategory] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RequestCategory]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_Request]
GO
ALTER TABLE [dbo].[RoleClaim]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaim_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaim] CHECK CONSTRAINT [FK_RoleClaim_Role_RoleId]
GO
ALTER TABLE [dbo].[StudentJoin]  WITH CHECK ADD  CONSTRAINT [FK_StudentJoin_SubjectLevel] FOREIGN KEY([SubjectLevelId])
REFERENCES [dbo].[SubjectLevel] ([Id])
GO
ALTER TABLE [dbo].[StudentJoin] CHECK CONSTRAINT [FK_StudentJoin_SubjectLevel]
GO
ALTER TABLE [dbo].[StudentJoin]  WITH CHECK ADD  CONSTRAINT [FK_StudentJoin_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[StudentJoin] CHECK CONSTRAINT [FK_StudentJoin_User]
GO
ALTER TABLE [dbo].[SubjectLevel]  WITH CHECK ADD  CONSTRAINT [FK_SubjectLevel_Level] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Level] ([Id])
GO
ALTER TABLE [dbo].[SubjectLevel] CHECK CONSTRAINT [FK_SubjectLevel_Level]
GO
ALTER TABLE [dbo].[SubjectLevel]  WITH CHECK ADD  CONSTRAINT [FK_SubjectLevel_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[SubjectLevel] CHECK CONSTRAINT [FK_SubjectLevel_Subject]
GO
ALTER TABLE [dbo].[SubjectLevel]  WITH CHECK ADD  CONSTRAINT [FK_SubjectLevel_Tutor] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[SubjectLevel] CHECK CONSTRAINT [FK_SubjectLevel_Tutor]
GO
ALTER TABLE [dbo].[Time]  WITH CHECK ADD  CONSTRAINT [FK_Time_SubjectLevel] FOREIGN KEY([SubjectLevelId])
REFERENCES [dbo].[SubjectLevel] ([Id])
GO
ALTER TABLE [dbo].[Time] CHECK CONSTRAINT [FK_Time_SubjectLevel]
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_User]
GO
ALTER TABLE [dbo].[UserClaim]  WITH CHECK ADD  CONSTRAINT [FK_UserClaim_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaim] CHECK CONSTRAINT [FK_UserClaim_User_UserId]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_User_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User_UserId]
GO
ALTER TABLE [dbo].[UserToken]  WITH CHECK ADD  CONSTRAINT [FK_UserToken_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserToken] CHECK CONSTRAINT [FK_UserToken_User_UserId]
GO
